<div class="expeditions">
    <div class="ex-locations">
        <p>British Columbia</p>
        <p>Washington</p>
        <p>Oregon</p>
        <p>California</p>
        <p>Colorado</p>
        <p>New Mexico</p>
        <p>Arizona</p>
        <p>Minnesota</p>
        <p>Wisconsin</p>
        <p>Iowa</p>
        <p>Missouri</p>
        <p>Oklahoma</p>
        <p>Arkansas</p>
        <p>Ohio</p>
        <p>Pennsylvania</p>
        <p>West Virginia</p>
        <p>New Jersey</p>
        <p>Tennessee</p>
        <p>Florida</p>

    </div>
    <div class="expeditions_none">
        <a href="#">
            <h1>{{current_year}} Bigfoot Expeditions</h1>
            <p>open to non-members</p>
        </a>
    </div>
</div>