<section class="facts">
    <h1>What are the undisputed facts about the bigfoot / sasquatch mystery?</h1>

    <p>
        It's a <span>FACT</span> that for more than 400 years people have reported seeing large, hair-covered, man-like animals in the wilderness areas of North America.
    </p>

    <p>
        It is a <span>FACT</span> that sightings of these animals continue today. Real or not, these reports are often made by people of unimpeachable character.
    </p>

    <p>
        It is a <span>FACT</span> that, for over seventy years, people have been finding, photographing, and casting sets of very large human-shaped tracks. Most are discovered by chance in remote areas. These tracks continue to be found to this day.
    </p>

    <p>
        It is a <span>FACT</span> that the cultural histories of many Native American and First Nation peoples include stories and beliefs about non-human "peoples" of the wild. Many of these descriptions bear a striking resemblance to the hairy man-like creatures reported today.
    </p>

    <p>
        These are some of the facts. There is, however, much disagreement as to what these facts mean.
    </p>

    <p>
        To many, these facts, taken together, suggest the presence of an animal, probably a primate, that exists today in very low population densities. If true, this species, having likely evolved alongside humans, became astonishingly adept at avoiding human contact through a process of natural selection.
    </p>

    <p>
        To others, these same facts point to a cultural phenomenon kept alive today through a combination of the misidentification of known animals, wishful thinking, and the deliberate fabrication of evidence.
    </p>
</section>