{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Case Number: {{case_number}}</title>
{% endblock title %}


{% block content %}

<div class="tb-banner__content">
    <p class="tb-banner__kicker">{{state_slogan}}</p>

    <h1 class="tb-banner__title">
      {{state_name}} Bigfoot Sightings!
    </h1>
</div>


<div class="main-state-container2">
    <!-- Header of the container -->
    <div class="header-area">
        <img src="{% static 'images/states/'|add:state_name|add:'.png' %}" alt="" width="100" height="100">
        <div class="header-area-content">
            <h5>{{ report.state }}</h5>
            <div class="sep"></div>
            <h4>Witnessed in {{ report.county }}, {{ report.state }}</h4>
        </div>
    </div>


    <div class="individual_case">
        <h5 id="reportcase">Report #{{ secondry_case }} <span id="span1">({{ report.classification }})</span></h5>
        <small>Submitted by witness on {{ report.date }}</small>
        <div class="sep"></div>
        <h5 class="statecase">STATE: <span id="span2">{{ report.state }}</span></h5>
        <h5 class="statecase">COUNTY: <span id="span2">{{ report.county }}</span></h5>
        <h5 class="statecase">LOCTAION DETAILS: <span id="span2">{{ report.location_details }}</span></h5>
        <br>
        <h5 class="statecase">OBSERVED: <span id="span2">{{ report.observed }}</span></h5>
        <div class="sep"></div>
        <h5 class="statecase">LATITUDE: <span id="span2">{{ report.latitude }}</span></h5>
        <h5 class="statecase">LONGITUDE: <span id="span2">{{ report.longitude }}</span></h5>
        <h5 class="statecase">CONDITIONS: <span id="span2">{{ report.summary }}</span></h5>

    </div>


</div>


{% endblock content %}

