<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" href="{% static 'images/icon.ico' %}" type="image/x-icon">
    
</head>
<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}


    {% block content %}
        
    {% endblock content %}


    {% block footer %}
        {% include 'footer.html' %}
    {% endblock footer %}
    
</body>
</html>