nav {
    display: flex;
    align-items: anchor-center;
    justify-content: space-between;
    background: #1a1a1a;


    .left-side {
        a {
            text-decoration: none;
            display: flex;
            align-items: anchor-center;

            img {
                width: 115px;
            }

            h1 {
                font-size: 34px;
                width: 45%;
                color: white;
                font-family: math;
            }


            &:hover {
                h1 {
                    color: #e2e2e2;
                }
            }
        }
    }


    .right-side {
        width: 50%;
        display: flex;
        justify-content: space-around;

        a {
            color: white;
            font-size: 20px;
            text-decoration: none;
            padding: 10px;
            border: 1px solid transparent;
            font-family: math;

            &:hover {
                background: #262626;
                border-radius: 10px;
                border: 1px solid rgba(46, 255, 168, 0.92);
            }
        }
    }
}