nav {
    display: flex;
    align-items: anchor-center;
    justify-content: space-between;
    background: #1a1a1a;


    .left-side {
        a {
            text-decoration: none;
            display: flex;
            align-items: anchor-center;

            img {
                width: 115px;
            }

            h1 {
                font-size: 34px;
                width: 45%;
                color: white;
                font-family: math;
            }


            &:hover {
                h1 {
                    color: #e2e2e2;
                }
            }
        }
    }


    .right-side {
        width: 50%;
        display: flex;
        justify-content: space-around;

        a {
            color: white;
            font-size: 20px;
            text-decoration: none;
            padding: 10px;
            border: 1px solid transparent;
            font-family: math;

            &:hover {
                background: #262626;
                border-radius: 10px;
                border: 1px solid rgba(46, 255, 168, 0.92);
            }
        }
    }


    #mobile_button {
        display: none;
        border: none;
        background: transparent;
        color: white;
        font-size: 45px;
        cursor: pointer;

        &:hover {
            color: rgba(46, 255, 168, 0.92);
        }
    }
}




#mobile_panel_ID {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: rgb(6, 6, 6);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
    z-index: 1000;
    font-family: math;
    border-radius: 10px;
    height: 100%;
    width: 60%;
    z-index: 1000;

    #xbutton_mobile_panel {
        text-align: end;
        margin-bottom: 6px;

        button {
            font-size: 27px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: transparent;
            border: 2px solid white;
            color: white;
        }
    }


    h1 {
        color: white;
        margin: 0;
        font-size: 25px;
    }


    #mobile_panel_links {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 12%;
        margin-bottom: 12%;
        justify-content: center;

        a {
            margin: auto;
            color: white;
            text-decoration: none;
            font-size: 34px;
            margin-bottom: 10px;
            background: #1c1c1c;
            width: 100%;
            padding: 4px;
            border-radius: 10px;
        }
    }



    #button_panel {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        img {
            width: 100px;
        }

        small {
            color: rgba(46, 255, 168, 0.92);
        }
    }
}