



@media(max-width: 1040px) {
    nav {
        .left-side {
            a {
                img {
                    width: 100px;
                }

                h1 {
                    font-size: 25px;
                    width: 43%;
                }
            }
        }


        .right-side {
            width: 55%;
        }
    }
}






@media(max-width: 950px) {
    nav {
        .left-side {
            a {
                img {
                    width: 100px;
                }

                h1 {
                    font-size: 25px;
                    width: 43%;
                }
            }
        }


        .right-side {
            display: none;
        }



        #mobile_button {
            display: block;
        }
    }
}






@media(max-width: 500px) {
    nav {
        .left-side {
            a {
                img {
                    width: 70px;
                }

                h1 {
                    font-size: 17px;
                    width: 59%;
                    letter-spacing: 3px;
                }
            }
        }

    }

    // Main container for the usa map thing
    .usa-map-container {
        display: none;
    }

    .mobile_state_selector {
        display: block;
    }


    // Main container for third index stuff
    .third-index-div-container {
        width: 95%;

        .states-div {
            display: grid;
            grid-template-columns: 1fr 1fr;


            .states {
                border-left: none;
                border-bottom: 1px solid rgba(46, 255, 168, 0.92);


                h1 {
                margin-bottom: 0;
                }

                small {
                margin-top: 0;
                color: rgba(46, 255, 168, 0.92);
                }
            }


            #washingotn-st {
            border-right: 1px solid rgba(46, 255, 168, 0.92);
            border-bottom: 1px solid rgba(46, 255, 168, 0.92);
            }


            #ohio-st {
                border-right: 1px solid rgba(46, 255, 168, 0.92);
            }
        }
    }

    .expeditions {
        color: white;
        font-family: math;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        width: 95%;
        margin: auto;
        margin-top: 3%;
        padding: 10px;


        .ex-locations {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 7px;

        }

        .expeditions_none {
            text-align: center;
            background: #112150;
            padding: 10px;

            a {
            color: white;
            text-decoration: none;

            h1 {
                margin-bottom: 0;
            }

            p {
                margin: 0;
            }
            }
        }
    }


    footer {
        flex-direction: column;

        .first-side {
            width: inherit;
        }

        .second-side {
            width: inherit;
        }

        .third-side {
            width: inherit;
        }
    }


    .hero__stats {
        flex-direction: row;
        justify-content: center;
    }

}