


.main-state-container2 {
    width: 85%;
    margin: auto;
    margin-top: 2%;


    .header-area {
        display: flex;
        border: 1px solid;

        .header-area-content {
            h5 {
                color: white;
                font-family: math;
                margin-left: 10px;
                font-size: 23px;
                margin: 0;
                margin-left: 10px;
            }


            h4 {
                color: white;
                margin-left: 10px;
                font-size: 17px;
                font-family: math;
                letter-spacing: 2px;
            }
        }

    }


    .individual_case {

        #reportcase {
            color: white;
            font-family: math;
            font-size: 21px;
            margin: 0;
            margin-top: 2%;
            margin-bottom: 1%;
        }

        small {
            color: grey;
            font-family: math;
            margin: 0;
        }

        .statecase {
            color: white;

            span {
                color: red;
            }

        }
    }
}




#header-e {
  width: 90%;
  margin: auto;
  margin-top: 3%;
  color: white;
  font-family: math;
  letter-spacing: 3px;
}




.all_counties {
  width: 90%;
  margin: auto;
  margin-top: 4%;

  a {
    text-decoration: none;
    color: white;
    font-family: math;

    .county {
      background: #242424;
      padding: 0px 5px 5px 13px;
      border-radius: 10px;
      margin-bottom: 5px;

      h3 {
        color: rgba(46, 255, 168, 0.92);
      }


      &:hover {
        background: #2c2c2c;
      }
    }
  }
}