.state_selection_main {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    width: 92%;
    margin: auto;
    margin-top: 4%;

    .top-side {
        display: flex;
        color: white;
        align-items: anchor-center;

        img {
            width: 100px;
        }

        h1 {
            font-size: 24px;
            font-family: math;
            margin-left: 7px;
        }
    }
}