$border: 2px solid black;
$text-color: rgba(255, 255, 255, 0.712);
$body-background-color: #333;
$background-color: #292929;
$font-color: #fff;
$highlight-color: #8d99ae;
$green_main: rgba(46, 255, 168, 0.92);


// main css code for the hr/div separator
#hr-sep {
    width: 80%;
    margin: auto;
    border: 2px solid black;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    margin-top: 5%;
    margin-bottom: 5%;
    color: $text-color;
}


// Main container for the first index box
.first-index-div {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;


    // Main container for the image
    .bigfoot-image {
        width: fit-content;
    }



    // Main container for the paragraph
    .bigfoot-description {
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 8%;



        .description {
          color: white;
        }


    }


}



// Main container for the usa map thing
.usa-map-container {
    width: 70%;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(48, 106, 51, 0.4);
    padding: 10px;
}

// CSS code for the usa map
.cmm-usa {
    display: none;
    margin: 0 auto;
    position: relative;
    padding: 10px;
  }
  .cmm-usa svg {
    width: 100%;
    z-index: 99;
  }
  .cmm-usa svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }
  .cmm-usa-hover-state-info {
    position: relative;
    margin: -40px auto 20px auto;
    display: none;
    box-sizing: border-box;
    padding: 0.75em;
    width: 300px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.829);
    box-shadow: 0 0 20px #999;
    font-size: 14px;
    z-index: 100;
  }
  .cmm-usa-hover-state-info span {
    display: block;
    line-height: 1.5em;
  }
  .cmm-usa-hover-state-info span:first-child {
    font-weight: bold;
    text-align: center;
  }
  .cmm-usa-listview {
    width: 100%;
    text-align: center;
    margin: 1em 0;
  }
  .cmm-usa-listview ul {
    vertical-align: top;
    list-style: none;
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .cmm-usa-listview ul li {
    padding: 0;
    margin: 0;
  }
  .cmm-usa-listview ul li span {
    display: inline-block;
    position: relative;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    color: black;
    text-align: center;
    line-height: 12px;
    font-weight: bold;
    border: 1px solid #999;
    opacity: 1;
    margin-right: 0.5em;
  }
  .cmm-usa-listview ul li span::after {
    content: "\2B9E";
    position: relative;
    color: #333;
    font-size: 12px;
  }
  .cmm-usa-listview ul li a {
    display: inline-block;
    margin: 0.5em 1em 0.5em 0;
    color: #ccc;
    text-decoration: none;
  }
  .cmm-usa-listview ul li a.cmm-usa-live-link {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }
  .cmm-usa-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  .cmm-usa-credit-link {
    text-align: center;
  }
  












// CSS code for the clickable state pages
.main-state-container {
  width: 80%;
  padding: 15px;
  margin: auto;
  margin-top: 2%;
  color: $text-color;


  // css for the separator
  .sep {
    border: 1px solid $text-color;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
  }


  // Header Area Container
  .header-area {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    // Content of the header area, ie state name and total sightings
    .header-area-content {
      margin-left: 10px;


      // css for the separator
      .sep {
        border: 1px solid $text-color;
        border-radius: 10px;
      }

    }
  }


  ul {
    margin-top: 10px;

    li {
      margin-bottom: 10px;
      span {
        color: red;
        font-weight: 500;
      }

      a {
        text-decoration: underline;
      }
    }
  }




  .county-table {
    margin: 50px auto;
    max-width: 80%;
    background-color: $background-color;
    color: $text-color;
    border-radius: 10px;
    overflow: auto;
    max-height: 400px;
    padding: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th {
        font-weight: bold;
        color: $text-color;
        text-align: center;
        border-bottom: 2px solid $highlight-color;
        padding: 10px;
      }
  
      td {
        border-bottom: 1px solid $highlight-color;
        padding: 10px;
        color: $text-color;
        text-align: center;
  
        &:nth-child(even) {
          text-align: center;
        }
      }
  
      tr:hover {
        background-color: darken($highlight-color, 10%);
        cursor: pointer;
      }
    }
  }



  ul input {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(41, 41, 206);
    font-weight: bold;
    cursor: pointer;
  }

  ul input:hover {
    text-decoration: underline;
    color: rgba(40, 165, 113, 0.92);
  }
}



.individual_case {
  padding:10px;

  #span1 {
    color: red;
  }

  #span2 {
    font-size: 19px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.582);;
  }
}